In [1]:
from alpaca.data.historical import StockHistoricalDataClient
from alpaca.data.historical import OptionHistoricalDataClient
from alpaca.data.historical import CryptoHistoricalDataClient

from alpaca.data.requests import StockBarsRequest
from alpaca.data.requests import OptionBarsRequest
from alpaca.data.requests import CryptoBarsRequest

from alpaca.data.timeframe import TimeFrame

In [4]:
# Use you API key and secret

from config import *

In [5]:
stock_client = StockHistoricalDataClient(api_key, api_secret)
option_client = OptionHistoricalDataClient(api_key, api_secret)
crypto_client = CryptoHistoricalDataClient() # no API key needed for crypto data

In [6]:
# Creating request objects
stock_request_params = StockBarsRequest(
  symbol_or_symbols=['AAPL'],
  timeframe=TimeFrame.Day,
  start='2022-09-01',
  end='2022-09-07'
)

option_request_params = OptionBarsRequest(
  symbol_or_symbols=['AAPL241219P00170000'],
  timeframe=TimeFrame.Day,
  start='2022-09-01',
  end='2022-09-07'
)

crypto_request_params = CryptoBarsRequest(
  symbol_or_symbols=['BTC/USD'],
  timeframe=TimeFrame.Day,
  start='2022-09-01',
  end='2022-09-07'
)

In [7]:
# Retrieve daily bars
aapl_bars = stock_client.get_stock_bars(stock_request_params)
aapl_option_bars = option_client.get_option_bars(option_request_params)
btc_bars = crypto_client.get_crypto_bars(crypto_request_params)

In [8]:
# Convert to dataframe
aapl_bars.df

                                    open     high      low   close
symbol timestamp
AAPL   2022-09-01 04:00:00+00:00  156.64  158.420  154.670  157.96  \
       2022-09-02 04:00:00+00:00  159.75  160.362  154.965  155.81
       2022-09-06 04:00:00+00:00  156.47  157.090  153.690  154.53

                                      volume  trade_count        vwap
symbol timestamp
AAPL   2022-09-01 04:00:00+00:00  79346064.0     654669.0  156.592275
       2022-09-02 04:00:00+00:00  83452944.0     644431.0  157.552561
       2022-09-06 04:00:00+00:00  78705759.0     687438.0  154.989143

In [9]:
# Convert to dataframe
aapl_option_bars.df

Empty DataFrame
Columns: []
Index: []

In [10]:
# Convert to dataframe
btc_bars.df

                                       open      high       low     close
symbol  timestamp
BTC/USD 2022-09-01 05:00:00+00:00  20055.79  20292.00  19564.86  20156.76  \
        2022-09-02 05:00:00+00:00  20156.76  20444.00  19757.72  19919.47
        2022-09-03 05:00:00+00:00  19924.83  19968.20  19658.04  19806.11
        2022-09-04 05:00:00+00:00  19805.39  20058.00  19587.86  19888.67
        2022-09-05 05:00:00+00:00  19888.67  20180.50  19635.96  19760.56
        2022-09-06 05:00:00+00:00  19761.39  20026.91  18534.06  18724.59

                                         volume  trade_count          vwap
symbol  timestamp
BTC/USD 2022-09-01 05:00:00+00:00   7141.975485     110122.0  19934.167845
        2022-09-02 05:00:00+00:00   7165.911879      96231.0  20075.200868
        2022-09-03 05:00:00+00:00   2677.652012      51551.0  19800.185480
        2022-09-04 05:00:00+00:00   4325.678790      62082.0  19834.451414
        2022-09-05 05:00:00+00:00   6274.552824      84784.0  19812.095982
        2022-09-06 05:00:00+00:00  11217.789784     128106.0  19266.835520