In [1]:
from alpaca.data.historical import StockHistoricalDataClient
from alpaca.data.historical import OptionHistoricalDataClient
from alpaca.data.historical import CryptoHistoricalDataClient

from alpaca.data.requests import StockBarsRequest
from alpaca.data.requests import OptionBarsRequest
from alpaca.data.requests import CryptoBarsRequest

from alpaca.data.timeframe import TimeFrame

ModuleNotFoundError: No module named 'alpaca'

In [ ]:
# Use you API key and secret
api_key = 'your_api_key'
api_secret = 'your_api_secret'
base_url = 'https://paper-api.alpaca.markets/v2'  # Use paper trading base URL for testing

In [10]:
stock_client = StockHistoricalDataClient(api_key, api_secret)
option_client = OptionHistoricalDataClient(api_key, api_secret)
crypto_client = CryptoHistoricalDataClient() # no API key needed for crypto data

In [14]:
# Creating request objects
stock_request_params = StockBarsRequest(
  symbol_or_symbols=['AAPL'],
  timeframe=TimeFrame.Day,
  start='2022-09-01',
  end='2022-09-07'
)

option_request_params = OptionBarsRequest(
  symbol_or_symbols=['AAPL241219P00170000'],
  timeframe=TimeFrame.Day,
  start='2022-09-01',
  end='2022-09-07'
)

crypto_request_params = CryptoBarsRequest(
  symbol_or_symbols=['BTC/USD'],
  timeframe=TimeFrame.Day,
  start='2022-09-01',
  end='2022-09-07'
)

In [17]:
# Retrieve daily bars
aapl_bars = stock_client.get_stock_bars(stock_request_params)
aapl_option_bars = option_client.get_option_bars(option_request_params)
btc_bars = crypto_client.get_crypto_bars(crypto_request_params)

In [18]:
# Convert to dataframe
aapl_bars.df

                                    open     high      low   close  \
symbol timestamp
AAPL   2022-09-01 04:00:00+00:00  156.64  158.420  154.670  157.96
       2022-09-02 04:00:00+00:00  159.75  160.362  154.965  155.81
       2022-09-06 04:00:00+00:00  156.47  157.090  153.690  154.53

                                      volume  trade_count        vwap
symbol timestamp
AAPL   2022-09-01 04:00:00+00:00  79346064.0     654669.0  156.592275
       2022-09-02 04:00:00+00:00  83452944.0     644431.0  157.552561
       2022-09-06 04:00:00+00:00  78705759.0     687438.0  154.989143

In [19]:
# Convert to dataframe
aapl_option_bars.df

Empty DataFrame
Columns: []
Index: []

In [8]:
# Convert to dataframe
btc_bars.df

                                    open     high      low   close  \
symbol timestamp
AAPL   2022-09-01 04:00:00+00:00  156.64  158.420  154.670  157.96
       2022-09-02 04:00:00+00:00  159.75  160.362  154.965  155.81
       2022-09-06 04:00:00+00:00  156.47  157.090  153.690  154.53

                                      volume  trade_count        vwap
symbol timestamp
AAPL   2022-09-01 04:00:00+00:00  79346064.0     654669.0  156.592275
       2022-09-02 04:00:00+00:00  83452944.0     644431.0  157.552561
       2022-09-06 04:00:00+00:00  78705759.0     687438.0  154.989143